<%- include('../partials/header') %>
<form id="searchForm" action="/stocks" method="POST">
  <input
    class="search"
    type="text"
    autocomplete="off"
    name="ticker"
    placeholder="(e.g. AAPL)"
  />
  <input type="submit" class="formButton" value="Add" />
</form>

<div id="stockContent">
  <table id="watchListContent">
    <%if (listNotEmpty==true){ %>
    <thead>
      <tr id="stockListTitle">
        <th class="tickerLeft tickerTitle">Stock</th>
        <th></th>
        <th>%Chng</th>
        <th>Price</th>
        <th>$Chng</th>
        <th>MktOpen</th>
      </tr>
    </thead>
    <tbody id="wholeForm">
      <% stocks.forEach(function(s) {if (!s.hide) { %>
      <tr id="eachStock">
        <td class="tickerLeft">
          <form class="tickerForm" action="/stocks/<%= s._id %>">
            <input type="submit" class="tickerButton" value="<%= s.symbol %>" />
          </form>
        </td>
        <td class="stockListRight" id="stockName">
          <%= s.longName.substring(0,13)%>
        </td>
        <td
          class="
            stockListRight
            <%=(s.regularMarketChangePercent>0)?'stockGreen':
            ''%>
            <%=(s.regularMarketChangePercent<0)?'stockRed':
            ''%>
          "
        >
          <%= s.regularMarketChangePercent.toFixed(2) %>%
        </td>

        <td class="stockListRight"><%= s.regularMarketPrice.toFixed(2) %></td>
        <td
          class="
            stockListRight
            <%=((s.regularMarketPrice-s.regularMarketOpen).toFixed(2)>0)?'stockGreen':
            ''%>
            <%=((s.regularMarketPrice-s.regularMarketOpen).toFixed(2)<0)?'stockRed':
            ''%>
          "
        >
          <%= (s.regularMarketPrice-s.regularMarketOpen).toFixed(2) %>
        </td>
        <td class="stockListRight"><%= s.regularMarketOpen.toFixed(2) %></td>

        <td class="removeButtonSlot">
          <form action="/stocks/<%= s._id %>?_method=UPDATE" method="POST">
            <button id="removeStock" type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }}); %>
    </tbody>
    <%} else{ %>
    <tbody>
      <tr id="noStock">
        <td>No Stock Added</td>
      </tr>
    </tbody>
    <%}%>
  </table>
</div>

<%- include('../partials/footer') %>
<!-- Refresh Script -->
<script>
  window.setTimeout(function () {
    window.location.reload();
  }, 30000);
</script>
