<%- include('../partials/header') %>

<div>
  <h1>Watchlist</h1>
  <form id="new-form" action="/stocks" method="POST">
    <label>Ticker Symbol:</label>
    <input type="text" name="ticker" />
    <input type="submit" value="Add" />
  </form>

  <table id="list">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>% Change</th>
        <th>Price</th>

        <th>Trade</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% stocks.forEach(function(s) { %>
      <tr>
        <td><%= s.symbol %></td>
        <td><%= s.regularMarketChangePercent.toFixed(2) %>%</td>
        <td>$<%= s.regularMarketPrice %></td>

        <td><a href="/stocks/<%= s._id %>">Buy/Sell</a></td>
        <td>
          <form action="/stocks/<%= s._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
