<%- include('../partials/header') %>

<form id="searchForm" action="/stocks" method="POST">
  <input
    class="search"
    id="stockSearchBox"
    type="text"
    autocomplete="off"
    name="ticker"
    placeholder="(e.g. AAPL)"
    autofocus
  />
  <input type="submit" class="formButton" id="searchTickerButton" value="Add" />
</form>
<div id="stockContent">
  <table id="watchListContent">
    <%if (listNotEmpty==true){ %>
    <thead>
      <tr id="stockListTitle">
        <th class="tickerLeft tickerTitle">Ticker</th>
        <th></th>
        <th>%Chng</th>
        <th>Price</th>
        <th>$Chng</th>
        <th>PrevClose</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="wholeForm">
      <% stocks.forEach(function(s) {if (!s.hide) { %>
      <tr id="eachStock">
        <td class="tickerLeft">
          <form class="tickerForm" action="/stocks/<%= s._id %>">
            <input type="submit" class="tickerButton" value="<%= s.symbol %>" />
          </form>
        </td>

        <% if (s.shortName){ %>
        <td class="stockListRight" id="stockName">
          <%= s.shortName.substring(0,18)%>
        </td>
        <%} else {%>
        <td>n/a</td>
        <%} %> <% if (s.regularMarketChangePercent) {%>
        <td
          class="
            stockListRight
            <%=(s.regularMarketChangePercent>0)?'stockGreen':
            ''%>
            <%=(s.regularMarketChangePercent<0)?'stockRed':
            ''%>
          "
        >
          <%=s.regularMarketChangePercent.toFixed(2) %>
        </td>
        <% }else {%>
        <td class="stockListRight">n/a</td>
        <% }%> <% if (s.preRegAfterCombinedPrice){ %>
        <td><%= s.preRegAfterCombinedPrice.toFixed(2)%></td>
        <%} else {%>
        <td>n/a</td>
        <%} %> <% if (s.preRegAfterCombinedPrice-s.regularMarketPreviousClose)
        {%>

        <td
          class="
            stockListRight
            <%=((s.preRegAfterCombinedPrice-s.regularMarketOpen).toFixed(2)>0)?'stockGreen':
            ''%>
            <%=((s.preRegAfterCombinedPrice-s.regularMarketOpen).toFixed(2)<0)?'stockRed':
            ''%>
          "
        >
          <%=
          (s.preRegAfterCombinedPrice-s.regularMarketPreviousClose).toFixed(2)
          %>
        </td>

        <% }else {%>
        <td class="stockListRight">n/a</td>
        <% }%> <% if (s.regularMarketPreviousClose) {%>
        <td class="stockListRight">
          <%=s.regularMarketPreviousClose.toFixed(2) %>
        </td>
        <% }else {%>
        <td class="stockListRight">n/a</td>
        <% }%> <% if (s.regularMarketPreviousClose) {%>
        <td class="stockListRight">
          <%=s.regularMarketPreviousClose.toFixed(2) %>
        </td>
        <% }else {%>
        <td class="stockListRight">n/a</td>
        <% }%>

        <td class="removeButtonSlot">
          <form action="/stocks/<%= s._id %>?_method=UPDATE" method="POST">
            <button id="removeStock" type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }}); %>
    </tbody>
    <%} else{ %>
    <tbody>
      <tr id="noStock">
        <td>No Stock Added</td>
      </tr>
    </tbody>
    <%}%>
  </table>
</div>

<%- include('../partials/footer') %>
<!-- Refresh Script -->
<script>
  //Bonus upgraded refresh rate for premium users
  let refreshRate=60000;
  if (<%=user.premium%>){
    refreshRate = 10000
  }
    window.setTimeout(function () {
      window.location.reload();
    }, refreshRate);

    // Refresh input retainer
    if (localStorage.referrer !== window.location.href) {
      delete localStorage.inputField;
    }
    const tempInput = localStorage.inputField;
    if (tempInput && localStorage.referrer === window.location.href) {
      document.getElementById('stockSearchBox').value = tempInput;
    }
    document
      .getElementById('stockSearchBox')
      .addEventListener('input', function () {
        localStorage.inputField = document.getElementById('stockSearchBox').value;
      });
      document
      .getElementById('searchTickerButton')
      .addEventListener('click', function () {
        delete localStorage.inputField
      });
</script>
