<%- include('../partials/header') %>
<div class="pageContainer">
  <!-- Form for adding stocks -->
  <form class="searchForm" action="/stocks" method="POST">
    <input
      class="search"
      id="stockSearchBox"
      type="text"
      autocomplete="off"
      name="ticker"
      placeholder="(e.g. AAPL)"
      spellcheck="false"
      autocorrect="off"
    />
    <input
      type="submit"
      class="formButton"
      id="searchTickerButton"
      value="Add"
    />
  </form>
  <!-- Stocks watchlist container -->
  <div class="stockContent">
    <table class="watchListContent">
      <%if (listNotEmpty==true){ %>
      <thead>
        <tr class="stockListTitle">
          <th class="tickerLeft tickerTitle">Ticker</th>
          <th></th>
          <th>%Chg</th>
          <th>Price</th>
          <th>$Chg</th>
          <th>Close</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% stocks.forEach(function(s) {if (!s.hide) { %>
        <tr class="eachStock">
          <!-- Stock Ticker -->
          <td class="tickerLeft">
            <form class="tickerForm" action="/stocks/<%= s._id %>">
              <input
                type="submit"
                class="tickerButton"
                value="<%= s.symbol %>"
              />
            </form>
          </td>
          <!-- Stock company name -->
          <% if (s.longName){ %>
          <td class="stockName"><%= s.longName%></td>
          <%} else if (s.shortName){%>
          <td class="stockName"><%= s.shortName%></td>
          <%} else {%>
          <td>n/a</td>
          <%} %>
          <!-- %Change -->
          <% if (s.combinedPrice-s.regularMarketPreviousClose) {%>
          <td
            class="<%=((s.combinedPrice-s.regularMarketPreviousClose)>0)?'stockGreen': ''%> <%=((s.combinedPrice-s.regularMarketPreviousClose)<0)?'stockRed': ''%>"
          >
            <%=(100*(s.combinedPrice-s.regularMarketPreviousClose)/s.regularMarketPreviousClose).toFixed(2)
            %>%
          </td>
          <% }else if (s.combinedPrice==s.regularMarketPreviousClose) {%>
          <td>0.00%</td>
          <% }else {%>
          <td>n/a</td>
          <% }%>
          <!-- Stock Price -->
          <% if (s.combinedPrice){ %>
          <!-- For showing 4 decimal places with USD/CAD -->
          <% if (s.symbol.includes('CAD=X')){ %>
          <td><%= s.combinedPrice.toFixed(3)%></td>
          <% }else if (s.combinedPrice>99999){ %>
          <td><%= (s.combinedPrice/1000).toFixed(1)%>k</td>
          <%} else {%>
          <td><%= s.combinedPrice.toFixed(2)%></td>
          <%} %> <%} else {%>
          <td>n/a</td>
          <%} %>
          <!-- $ Change -->
          <% if (s.combinedPrice-s.regularMarketPreviousClose) {%>
          <!-- For showing 4 decimal places with USD/CAD -->
          <% if (s.symbol.includes('CAD=X')){ %>
          <td
            class="<%=((s.combinedPrice-s.regularMarketPreviousClose)>0)?'stockGreen': ''%> <%=((s.combinedPrice-s.regularMarketPreviousClose)<0)?'stockRed': ''%>"
          >
            <%= (s.combinedPrice-s.regularMarketPreviousClose).toFixed(3)%>
          </td>
          <% } else if ((s.combinedPrice-s.regularMarketPreviousClose)>999) {%>
          <td
            class="<%=((s.combinedPrice-s.regularMarketPreviousClose)>0)?'stockGreen': ''%> <%=((s.combinedPrice-s.regularMarketPreviousClose)<0)?'stockRed': ''%>"
          >
            <%= ((s.combinedPrice-s.regularMarketPreviousClose)/1000).toFixed(1)
            %>k
          </td>
          <% }else {%>
          <td
            class="<%=((s.combinedPrice-s.regularMarketPreviousClose)>0)?'stockGreen': ''%> <%=((s.combinedPrice-s.regularMarketPreviousClose)<0)?'stockRed': ''%>"
          >
            <%= (s.combinedPrice-s.regularMarketPreviousClose).toFixed(2) %>
          </td>
          <% }%> <% }else if (s.combinedPrice==s.regularMarketPreviousClose) {%>
          <td>0.00</td>
          <% }else {%>
          <td>n/a</td>
          <% }%>
          <!-- Previous day market close -->
          <% if (s.regularMarketPreviousClose) {%>
          <!-- For showing 4 decimal places with USD/CAD -->
          <% if (s.symbol.includes('CAD=X')){ %>
          <td><%= s.regularMarketPreviousClose.toFixed(3)%></td>
          <% } else if (s.regularMarketPreviousClose>99999) {%>
          <td><%=(s.regularMarketPreviousClose/1000).toFixed(1) %>k</td>
          <% } else {%>
          <td><%=s.regularMarketPreviousClose.toFixed(2) %></td>
          <% }%> <% } else {%>
          <td>n/a</td>
          <% }%>
          <!-- Remove button -->
          <td class="removeButtonSlot">
            <form action="/stocks/<%= s._id %>?_method=UPDATE" method="POST">
              <button class="removeItem" type="submit">X</button>
            </form>
          </td>
        </tr>
        <% }}); %>
      </tbody>

      <%} else{ %>
      <tbody>
        <!-- If list empty, "Empty" message is rendered -->
        <tr class="noStock">
          <td>Stock list empty</td>
        </tr>
      </tbody>
      <%}%>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>
<!-- Refresh Script -->
<script>
  //Bonus upgraded refresh rate for premium users
  let refreshRate=59000;
  if (<%=user.premium%>){
    refreshRate = 9000
  }
    window.setTimeout(function () {
      window.location.reload();
    }, refreshRate);

  // Membership refresh time count down
  let countDownNum;
  let membershipLevel;
  if(<%=req.user.premium%>){
    countDownNum = 9;
    membershipLevel = 'Premium'
  } else {
    countDownNum = 59;
    membershipLevel = 'Basic'
  }
  function countDown(){
    let countDownString = `${membershipLevel}(${countDownNum})`
    document.getElementById('countDownNum').innerHTML = countDownString
    countDownNum--;
    setTimeout(function(){
      countDown()
    },1000)
  }
  countDown()
  // Convert href with '?' to without
  let refWithoutQuestionMark = window.location.href;
  if (window.location.href[window.location.href.length-1]=='?'){
    refWithoutQuestionMark = refWithoutQuestionMark.slice(0,-1)
  }
  // Refresh input retainer
  if (localStorage.referrer !== refWithoutQuestionMark) {
    delete localStorage.inputField;
    delete localStorage.activeFocus
  }
  const tempInput = localStorage.inputField;
  if (tempInput && localStorage.referrer === refWithoutQuestionMark) {
    document.getElementById('stockSearchBox').value = tempInput;
  }
  // Save input prior to refresh
  document
    .getElementById('stockSearchBox')
    .addEventListener('input', function () {
      localStorage.inputField = document.getElementById('stockSearchBox').value;
    });
  // When search button is pressed, clear inputfield
    document
    .getElementById('searchTickerButton')
    .addEventListener('click', function () {
      delete localStorage.inputField
    });
  // When stock search box is clicked, remember to remain focus even after refresh
    document
    .getElementById('stockSearchBox')
    .addEventListener('click', function () {
      localStorage.activeFocus = 'stockSearchBox';
    });
  // Checks to see if box should be focus while page loads
  if (localStorage.activeFocus) {
    document.getElementById(localStorage.activeFocus).focus();
  }
</script>
