<!-- Show stock that you added, and show available portfolio, and how much to buy/sell. Jump to that portfolio when done -->
<%- include('../partials/header') %>
<div>
  <h1><%= quote[0].longName%> (Ticker: <%= stock.ticker%>)</h1>

  <table id="list">
    <thead>
      <tr>
        <th>Price</th>

        <th>% Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>$<%= quote[0].regularMarketPrice %></td>
        <td><%= quote[0].regularMarketChangePercent.toFixed(2) %>%</td>
      </tr>
    </tbody>
  </table>

  <form
    id="transaction"
    action="/stocks/<%= stock._id%>/transactions"
    method="POST"
  >
    <label>Shares:</label>
    <input type="number" name="shares" />
    <input
      type="number"
      name="price"
      value="<%=quote[0].regularMarketPrice%>"
    />
    <select name="portfolioId">
      <!-- <option value="" disabled selected>Select Portfolio</option> -->
      <% portfolios.forEach(function(p){ %>
      <option value="<%= p._id%>"><%=p.name%></option>
      <%}) %>
    </select>
    <button type="submit">Confirm</button>
  </form>
</div>

<%- include('../partials/footer') %>
