<%- include('../partials/header') %>

<div class="stockShowControls">
  <div>
    <form action="/stocks">
      <button  class="formButton">Back</button><h1><%= testTime %></h1>
    </form>
  <% if ( quote[0]){ %>
    <h1 id="stockTitleAtShow"><%= quote[0].longName%> (<%= stock.ticker%>)</h1>
    <%} else {%>
    <h1>n/a</h1>
    <%} %> 
  <% if (portfolios.length !==0) {%>
      <form
        id="transaction"
        action="/stocks/<%= stock._id%>/transactions"
        method="POST"
      >
        <span class="buySellPriceBoxDollarSign">$</span>
        <input
          type="number"
          name="price"
          min="0"
          max="1000000000"
          autocomplete="off"
          spellcheck="false"
          autocorrect="off"
          id="buySellPriceBoxId"
          value="<%- quote[0].preRegAfterCombinedPrice%>"
          class="<%= user.premium ? 'buySellNumBox premiumPriceBox':'buySellNumBox buySellPriceBox'  %>"
          <%- (!user.premium) ? 'readonly':'' %>
          />
          <input type="number" min="1" max="1000000000"class="buySellNumBox" id="buySellSharesBox" name="shares" placeholder="Shares" autocomplete="off"
          spellcheck="false"
          autocorrect="off"    />
          <span class="buySellToIndicator">
            To:&nbsp
          </span>
          
        <select name="portfolioId" class="buySellNumBox" id="buySellPortfolioBox">
          <% portfolios.forEach(function(p){ %>
          <option value="<%= p._id%>"  <%- (p._id.toString()===preselectPortfolio.toString())? 'selected':''   %>  ><%=p.name%></option>
          <%}) %>
        </select>
      </div>
      <div>
        <button type="submit" class="buySellButtons" id="buyButton" name="button" value="buy">Buy</button>
        <button type="submit" class="buySellButtons" id="sellButton" name="button" value="sell">Sell</button>
      </div>
    </form>
  <%} else {%>
    <h4>Create your portfolio today.</h4>
    <form action="/portfolios" method="POST">
      <input
        class="search"
        autocomplete="off"
        type="text"
        name="name"
        placeholder="e.g. Spouse, Pet"
        maxlength="16"
      />
      <input type="submit" class="formButton" value="Create" />
    </form>
  <%} %>
</div>
<div id="chart_div"></div>
<br>
<div class="stockInfoContent">
<table class="stockInfoTable">
  <thead>
    <tr class="portfolioListTitle detailInfo">
      <th class="tickerLeft tickerTitle">Mark</th>
      <th>PrevClose</th>
      <th>%Day</th>
      <th>Volume</th>
      <th>MktCap(M)</th>
      <th>ForwardPE</th>
    </tr>
  </thead>
  <% if (quote[0]){%>
<tbody>
  <tr class="detailInfo">
<% if (quote[0].preRegAfterCombinedPrice){ %>
  <th class=" tickerLeft tickerTitle
  <%=(quote[0].regularMarketChangePercent>0)?'stockGreen':
  ''%>
  <%=(quote[0].regularMarketChangePercent<0)?'stockRed':
  ''%>"><%= (quote[0].preRegAfterCombinedPrice).toFixed(2)%></th>
  <%} else {%>
  <th>n/a</th>
  <%} %>
    <% if (quote[0].regularMarketPreviousClose){ %>
      <th><%= (quote[0].regularMarketPreviousClose).toFixed(2)%></th>
      <%} else {%>
      <th>n/a</th>
      <%} %>
  <% if (quote[0].regularMarketChangePercent){ %>
    <th class="
    <%=(quote[0].regularMarketChangePercent>0)?'stockGreen':
    ''%>
    <%=(quote[0].regularMarketChangePercent<0)?'stockRed':
    ''%>
  "><%= (quote[0].regularMarketChangePercent).toFixed(2)%>%</th>
    <%} else {%>
    <th>n/a</th>
    <%} %>
  <% if (quote[0].regularMarketVolume){ %>
    <th ><%= quote[0].regularMarketVolume%></th>
    <%} else {%>
    <th>n/a</th>
    <%} %>
    <% if (quote[0].forwardPE){  %>
    <th>$<%= Intl.NumberFormat('en-US').format((quote[0].marketCap/1000000).toFixed(0))%></th>
    <%} else {%>
      <th>n/a</th>
      <%} %>
  <% if (quote[0].forwardPE){  %>
    <th><%= quote[0].forwardPE.toFixed(2)%></th>
    <%} else {%>
      <th>n/a</th>
  <%} %>
  </tr>
</tbody>
<%}%>
</table>
</div>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  //This is for timeStamps generation parameters.
  let timestampPerChart = 6
let timeStampInterval = Math.floor(<%- JSON.stringify(chartParsed)%>.length/timestampPerChart)
  google.charts.load('current', { packages: ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    let stockGreen = '#00ff00'
    var data = google.visualization.arrayToDataTable(<%- JSON.stringify(chartParsed)%>, true);
    var options = {
      legend: 'none',
      //Chart area that takes up room(away from axis)
      chartArea:{'width': '80%', 'height': '85%'},
      seriesType: 'candlesticks',
      series: {1: {type: 'line',lineDashStyle: [4, 4]}},
      //First value is wick color, second is horizontal line
      colors: ['#242424', 'yellow' ],
      vAxis: { gridlineColor: '#393939',minorGridlines:{color:'transparent'}, textStyle: {
        color: '#FFF', fontSize:10
      }, gridlines:{count:10}},
      hAxis: { gridlineColor: 'transparent', textStyle: { color: '#FFF',fontSize:10  }, showTextEvery: timeStampInterval   },
      backgroundColor: 'transparent',
      candlestick: {
        risingColor: { stroke: stockGreen, strokeWidth:1,fill: stockGreen },
        fallingColor: { stroke: 'red', strokeWidth:1,fill: 'red' },
      },
    };
    var chart = new google.visualization.CandlestickChart(
      document.getElementById('chart_div')
    );
    chart.draw(data, options);
  }
</script>
<%- include('../partials/footer') %>
<script>
    //Bonus upgraded refresh rate for premium users
let refreshRate=60000;
if (<%=user.premium%>){
  refreshRate = 10000
}
  window.setTimeout(function () {
    window.location.reload();
  }, refreshRate);
  // Refresh input retainer*3
    if(localStorage.referrer !== window.location.href){
      delete localStorage.inputField
      delete localStorage.inputField2
      delete localStorage.inputField3
      delete localStorage.activeFocus
    }
  // check if anything in inputField stored
  const tempInput = localStorage.inputField;
  // If we stored value in tempInput, and we just reloaded, box is in use
  // We will take value out and populate the box
  // Input #1 for shares box
  if (tempInput && localStorage.referrer === window.location.href) {
    document.getElementById('buySellSharesBox').value = tempInput;
  }
  // On input #1
  document
  .getElementById('buySellSharesBox')
  .addEventListener('input', function () {
    localStorage.inputField =
    document.getElementById('buySellSharesBox').value;
    localStorage.activeFocus = 'buySellSharesBox'
  });
  // On click #1
  document
  .getElementById('buySellSharesBox')
  .addEventListener('click', function () {
    localStorage.activeFocus = 'buySellSharesBox'
  });
  // Input #2 for price box
  const tempInput2 = localStorage.inputField2;
  if (tempInput2 && localStorage.referrer === window.location.href) {
    document.getElementById('buySellPriceBoxId').value = tempInput2;
  }
  // On input #2
  document
  .getElementById('buySellPriceBoxId')
  .addEventListener('input', function () {
    localStorage.inputField2 =
    document.getElementById('buySellPriceBoxId').value;
  });
  // On click #2
  document
  .getElementById('buySellPriceBoxId')
  .addEventListener('click', function () {
    localStorage.activeFocus = 'buySellPriceBoxId'
  });
  // Input #3 for porrtfolio selection box
  const tempInput3 = localStorage.inputField3;
  if (tempInput3 && localStorage.referrer === window.location.href) {
    document.getElementById('buySellPortfolioBox').value = tempInput3;
  }
  // On select #3
  document
  .getElementById('buySellPortfolioBox')
  .addEventListener('input', function () {
    localStorage.inputField3 =
    document.getElementById('buySellPortfolioBox').value;
  });
  // deletes focus if this option is selected
  document
  .getElementById('buySellPortfolioBox')
  .addEventListener('click', function () {
    delete localStorage.activeFocus
  });
  if(localStorage.activeFocus){
    document.getElementById(localStorage.activeFocus).focus();
  }
</script>
