<%- include('../partials/header') %>
<div class="stockShowControls">
  <div>
  <h1 id="stockTitleAtShow"><%= quote[0].longName%> (<%= stock.ticker%>)</h1>

  <% if (portfolios.length !==0) {%>
      <form
        id="transaction"
        action="/stocks/<%= stock._id%>/transactions"
        method="POST"
      >
 
        <span id="buySellPriceBoxDollarSign">$</span>
        <input
          type="text"
          name="price"
          min="0"
          class="buySellNumBox"  
          value="<%=quote[0].preRegAfterCombinedPrice.toFixed(2)%>"
          id="<%= premium ? 'premiumPriceBox':'buySellPriceBox'  %>"
          <%- (!premium) ? 'readonly':'' %>
          />
          <input type="text" min="0" class="buySellNumBox" id="buySellSharesBox" name="shares" placeholder="Shares" autocomplete="off" />
        <select name="portfolioId" class="buySellNumBox" id="buySellPortfolioBox">
          <% portfolios.forEach(function(p){ %>
          <option value="<%= p._id%>"  <%- (p._id.toString()===preselectPortfolio.toString())? 'selected':''   %>  ><%=p.name%></option>
          <%}) %>
        </select>
      </div>
      <div>
        <button type="submit" class="buySellButtons" id="buyButton" name="button" value="buy">Buy</button>
        <button type="submit" class="buySellButtons" id="sellButton" name="button" value="sell">Sell</button>
      </div>
    </form>
  <%} else {%>
    <h4>Create your portfolio today.</h4>
    <form action="/portfolios" method="POST">
      <input
        class="search"
        autocomplete="off"
        type="text"
        name="name"
        placeholder="e.g. Spouse, Pet"
        maxlength="16"
      />
      <input type="submit" class="formButton" value="Create" />
    </form>
  <%} %>
</div>
<div id="chart_div"></div>
<br>
<div class="stockInfoContent">
<table class="stockInfoTable">
  <thead>
    <tr class="portfolioListTitle">

      <th class="tickerLeft tickerTitle">Mark</th>
      <th>PrevClose</th>
      <th>Day%Chng</th>
      <th>Volume</th>
      <th>MktCap(M)</th>
      <th>ForwardPE</th>
    </tr>
  </thead>
<tbody>
  <tr class="">
    <th class="tickerLeft tickerTitle"><%= quote[0].preRegAfterCombinedPrice.toFixed(2)%></th>
    <th><%= quote[0].regularMarketPreviousClose.toFixed(2)%></th>
    <th class="
    <%=(quote[0].regularMarketChangePercent>0)?'stockGreen':
    ''%>
    <%=(quote[0].regularMarketChangePercent<0)?'stockRed':
    ''%>
  "><%= (quote[0].regularMarketChangePercent).toFixed(2)%>%</th>
    <th><%= quote[0].regularMarketVolume%></th>
    <% if (quote[0].forwardPE){  %>

    <th>$<%= Intl.NumberFormat('en-US').format((quote[0].marketCap/1000000).toFixed(0))%></th>
    <%} else {%>
      <th>n/a</th>
      <%} %>
  <% if (quote[0].forwardPE){  %>
    <th><%= quote[0].forwardPE.toFixed(2)%></th>
    <%} else {%>
      <th>n/a</th>
  <%} %>
  
  </tr>
</tbody>
</table>
</div>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    let stockGreen = '#00ff00'
    var data = google.visualization.arrayToDataTable(<%- JSON.stringify(chartParsed)%>, true);
    var options = {
      legend: 'none',
      //Chart area that takes up room(away from axis)
      chartArea:{'width': '80%', 'height': '85%'},
      seriesType: 'candlesticks',
      series: {1: {type: 'line',lineDashStyle: [4, 4]}},
      //First value is wick color, second is horizontal line
      colors: ['#242424', 'yellow' ],
      vAxis: { gridlineColor: '#393939',minorGridlines:{color:'transparent'}, textStyle: {
        color: '#FFF', fontSize:10
      }, gridlines:{count:10}},
      hAxis: { gridlineColor: 'transparent', textStyle: { color: '#FFF',fontSize:10  }, showTextEvery: 10,  },
      backgroundColor: 'transparent',
      candlestick: {
        risingColor: { stroke: stockGreen, strokeWidth:1,fill: stockGreen },
        fallingColor: { stroke: 'red', strokeWidth:1,fill: 'red' },
      },
    };
    var chart = new google.visualization.CandlestickChart(
      document.getElementById('chart_div')
    );
    chart.draw(data, options);
  }
</script>
<%- include('../partials/footer') %>
<script>
  window.setTimeout(function () {
    window.location.reload();
  }, 30000);
</script>
