<!-- Show stock that you added, and show available portfolio, and how much to buy/sell. Jump to that portfolio when done -->
<%- include('../partials/header') %>
<div>
  <h1><%= quote[0].longName%> (Ticker: <%= stock.ticker%>)</h1>

  <table id="list">
    <thead>
      <tr>
        <th>% Change</th>
        <th>StockPrice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= quote[0].regularMarketChangePercent.toFixed(2) %>%</td>
      </tr>
    </tbody>
  </table>

  <% if (portfolios.length !==0) {%>

  <form
    id="transaction"
    action="/stocks/<%= stock._id%>/transactions"
    method="POST"
  >
    <label>Shares:</label>
    <input type="number" min="0" name="shares" />
    <input
      type="number"
      name="price"
      value="<%=quote[0].regularMarketPrice%>"
      readonly="readonly"
    />
    <select name="portfolioId">
      <% portfolios.forEach(function(p){ %>
      <option value="<%= p._id%>"><%=p.name%></option>
      <%}) %>
    </select>
    <button type="submit" name="button" value="buy">Buy</button>
    <button type="submit" name="button" value="sell">Sell</button>
  </form>
  <%} else {%>

  <a href="/portfolios/new">Start Trading</a>
  <%} %>
</div>
<div id="chart_div" style="width: 900px; height: 500px"></div>

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load('current', { packages: ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    console.log('hehehaha');
    var data = google.visualization.arrayToDataTable(
      [
        ['Mon', 20, 28, 38, 45],
        ['Tue', 31, 38, 55, 66],
        ['Wed', 50, 55, 77, 80],
        ['Thu', 77, 77, 66, 50],
        ['Fri', 68, 66, 22, 15],
        // Treat first row as data as well.
      ],
      true
    );

    var options = {
      legend: 'none',
    };

    var chart = new google.visualization.CandlestickChart(
      document.getElementById('chart_div')
    );

    chart.draw(data, options);
  }
</script>

<%- include('../partials/footer') %>
