<%- include('../partials/header') %>
<div class="portfolioContent">
  <div class="portfolioDeletePadding">
    <h5>This action cannot be reversed.</h5>
    <form
      action="/portfolios/<%= portfolio._id %>?_method=DELETE"
      method="POST"
    >
      <input
        type="submit"
        id="portfolioDeleteFinal"
        value="Delete <%= portfolio.name %>"
      />
    </form>
    <form class="" action="/portfolios/<%= portfolio._id %>">
      <input type="submit" id="portfolioDeleteBack" value="Back" />
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
<script>
  // Membership level render without countdown
  let countDownNum;
    let membershipLevel;
      if(<%=req.user.premium%>){
        membershipLevel = 'Premium'
      } else {
        membershipLevel = 'Basic'
      }
      let countDownString = membershipLevel
      document.getElementById('countDownNum').innerHTML = countDownString
</script>
