<%- include('../partials/header') %>

<table id="portfolioTable">
  <tbody>
    <%if (portfolios.length!==0) {%>
    <div id="portfolioTitle">Portfolio</div>
    <%}else{ %>
    <div id="portfolioTitle">
      <%= req.user.name.split(' ')[0] %>,<br />
      Make a portfolio.
    </div>

    <% }%> <% portfolios.forEach(function(p){%>
    <tr>
      <td>
        <form id="listPortfolio" action="/portfolios/<%= p._id %>">
          <input type="submit" id="portfolioMod" value="<%=p.name%>" />
        </form>
      </td>
    </tr>

    <% }); %>
  </tbody>
</table>

<form id="portfolioForm" action="/portfolios" method="POST">
  <input id="search" type="text" name="name" placeholder="New Portfolio" />
  <input type="submit" class="formButton" value="Create" />
</form>

<%- include('../partials/footer') %>
