<%- include('../partials/header') %>
<div class="pageContainer">
  <table id="portfolioTable">
    <!-- Portfolio title/Or "start a portfolio" message if portfolio empty -->
    <tbody>
      <%if (portfolios.length!==0) {%>
      <div class="portfolioTitle">Portfolio</div>
      <%}else{ %>
      <div class="portfolioTitle">
        <%= req.user.name.split(' ')[0] %>,<br />
        start a portfolio.
      </div>
      <% }%>
      <!-- Portfolio display -->
      <% portfolios.forEach(function(p){%>
      <tr>
        <td>
          <form class="listPortfolio" action="/portfolios/<%= p._id %>">
            <input
              type="submit"
              class="portfolioSelection"
              value="<%=p.name%>"
            />
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- Form for adding new portfolio -->
  <form class="portfolioForm" action="/portfolios" method="POST">
    <input
      class="search"
      type="text"
      name="name"
      placeholder="e.g. Spouse, Child"
      maxlength="30"
      autocomplete="off"
      spellcheck="false"
      autocorrect="off"
    />
    <input type="submit" class="formButton" value="Create" />
  </form>
</div>
<%- include('../partials/footer') %>
<!-- Script for membership display -->
<script>
  let countDownNum;
    let membershipLevel;
      if(<%=req.user.premium%>){
        membershipLevel = 'Premium'
      } else {
        membershipLevel = 'Basic'
      }
      let countDownString = membershipLevel
      document.getElementById('countDownNum').innerHTML = countDownString
</script>
