<%- include('../partials/header') %>
<table id="portfolioTable">
  <tbody>
    <%if (portfolios.length!==0) {%>
    <div id="portfolioTitle">Portfolio</div>
    <%}else{ %>
    <div id="portfolioTitle">
      <%= req.user.name.split(' ')[0] %>,<br />
      start a portfolio.
    </div>
    <% }%> <% portfolios.forEach(function(p){%>
    <tr>
      <td>
        <form id="listPortfolio" action="/portfolios/<%= p._id %>">
          <input type="submit" id="portfolioMod" value="<%=p.name%>" />
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<form id="portfolioForm" action="/portfolios" method="POST">
  <input
    class="search"
    type="text"
    name="name"
    placeholder="e.g. Spouse, Pet"
    maxlength="30"
    autocomplete="off"
    spellcheck="false"
    autocorrect="off"
  />
  <input type="submit" class="formButton" value="Create" />
</form>
<%- include('../partials/footer') %>
