<%- include('../partials/header') %>

<div class="portfolioContent">
  <div class="portfolioSections">
    <div id="portfolioControl">
      <form
        class="portfolioEditContainer"
        action="/portfolios/<%= portfolio._id %>?_method=UPDATE"
        method="POST"
      >
        <input
          type="text"
          name="name"
          id="portfolioEditting"
          value="<%= portfolio.name %>"
          maxlength="30"
          autocomplete="off"
          spellcheck="false"
          autocorrect="off"
        />
        <input
          type="submit"
          class="portfolioEdit"
          id="portfolioEditButton"
          value="Edit"
        />
      </form>

      <form
        class="portfolioDeleteContainer"
        id="portfolioDeleteButton"
        action="/portfolios/<%= portfolio._id %>/delete"
      >
        <input
          type="submit"
          class="portfolioDelete"
          id="portfolioDeleteButtonText"
          value="X"
        />
      </form>
    </div>
    <table id="PLSection">
      <tr>
        <td class="positionTitle">Position Size:</td>
        <td>
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits:
          2,}).format(Math.abs(totalHoldings+unrealizedPL).toFixed(2))%>
        </td>
      </tr>
      <tr>
        <td class="positionTitle">Holdings P/L:</td>
        <td
          class="
            PLPrices
            <%=(unrealizedPL>0)?'stockGreen':
            ''%>
            <%=(unrealizedPL<0)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits: 2,}).format(unrealizedPL.toFixed(2))%>
        </td>
      </tr>
      <tr>
        <td class="positionTitle">Realized P/L:</td>
        <td
          class="
            PLPrices
            <%=(totalHoldings-realizedPL>0)?'stockGreen':
            ''%>
            <%=(totalHoldings-realizedPL<0)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits:
          2,}).format((totalHoldings-realizedPL).toFixed(2))%>
        </td>
      </tr>
    </table>
    <br />
  </div>
  <% if (prices.length){%>
  <h3 class="portfolioSections">Holdings</h3>
  <table class="holdingsList">
    <thead>
      <tr class="portfolioList portfolioListTitle">
        <th class="tickerLeft tickerTitle">Ticker</th>
        <th>Share</th>
        <th>Price</th>
        <th>%P/L</th>
        <th>$P/L</th>
        <th>Avg Cost</th>
        <th>Size</th>
      </tr>
    </thead>

    <tbody>
      <% prices.forEach(function(p) { %>
      <tr class="portfolioList">
        <td class="tickerLeft">
          <form
            class="tickerForm"
            action="/stocks/<%= p._id %>/<%= portfolio._id%>"
          >
            <input type="submit" class="tickerButton" value="<%= p.symbol %>" />
          </form>
        </td>

        <td
          class="
            <%=(p.shares>0)?'stockGreen':
            ''%>
            <%=(p.shares<0)?'stockRed':
            ''%>
          "
        >
          <%= p.shares %>
        </td>

        <% if (p.preRegAfterCombinedPrice){ %>
        <td><%= p.preRegAfterCombinedPrice.toFixed(2)%></td>
        <%} else {%>
        <td>0</td>
        <%} %> <% if (p.preRegAfterCombinedPrice-p.avgPrice){ %>
        <td
          class="
            <%=(p.regularMarketChangePercent>0)?'stockGreen':
            ''%>
            <%=(p.regularMarketChangePercent<0)?'stockRed':
            ''%>
          "
        >
          <%=
          (((p.preRegAfterCombinedPrice-p.avgPrice)/p.avgPrice)*100).toFixed(2)%>%
        </td>
        <%} else {%>
        <td>0</td>
        <%} %> <% if (p.preRegAfterCombinedPrice - p.avgPrice){ %>
        <td
          class="
            <%=(p.preRegAfterCombinedPrice
            -
            p.avgPrice>0)?'stockGreen':
            ''%>
            <%=(p.preRegAfterCombinedPrice
            -
            p.avgPrice<0)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits: 2,}).format(((p.preRegAfterCombinedPrice -
          p.avgPrice)*p.shares).toFixed(2))%>
        </td>
        <%} else {%>
        <td>0</td>
        <%} %>

        <td><%= p.avgPrice.toFixed(2) %></td>

        <% if (p.preRegAfterCombinedPrice){ %>
        <td><%= p.preRegAfterCombinedPrice.toFixed(2)%></td>
        <%} else {%>
        <td>0</td>
        <%} %>
      </tr>
      <% }); %>
    </tbody>
    <%} else{%>
    <h3>No Holdings</h3>
    <%}%>
  </table>
  <br />
  <% if (portfolio.transactions.length!==0){%>
  <div class="portfolioSections">
    <h3>Transactions</h3>
  </div>
  <table class="holdingsList">
    <thead>
      <tr class="portfolioList portfolioListTitle">
        <th class="tickerLeft tickerTitle">Ticker</th>
        <th>Action</th>
        <th>Shares</th>
        <th>Transact Price</th>
        <th>Date & Time</th>
      </tr>
    </thead>
    <tbody>
      <% portfolio.transactions.forEach(function(t) { %>
      <tr class="portfolioList transactionBorderBottom">
        <td class="tickerLeft tickerTitle tickerTransactionUnbold">
          <%= t.ticker %>
        </td>
        <% if(t.shares>0) { %>
        <td class="buySell stockGreen">Buy</td>
        <%} else {%>
        <td class="buySell stockRed">Sell</td>
        <%} %>
        <td><%= Math.abs(t.shares) %></td>
        <td><%= t.price.toFixed(2) %></td>
        <td>
          <%= t.createdAt.toLocaleDateString() %> <%=
          t.createdAt.toLocaleTimeString('en-GB') %>
        </td>
      </tr>
      <% }); %>
    </tbody>
    <%} else{%>
    <h3>No Transactions</h3>
    <%}%>
  </table>
</div>
<%- include('../partials/footer') %>
<!-- Refresh Script -->
<script>
  //Bonus upgraded refresh rate for premium users
    let refreshRate=60000;
  if (<%=user.premium%>){
    refreshRate = 10000
  }
    window.setTimeout(function () {
      window.location.reload();
    }, refreshRate);
    // Refresh input retainer
    if (localStorage.referrer !== window.location.href) {
      delete localStorage.inputField;
      delete localStorage.activeFocus;
    }
    const tempInput = localStorage.inputField;
    if (tempInput && localStorage.referrer === window.location.href) {
      document.getElementById('portfolioEditting').value = tempInput;
    }
    document
      .getElementById('portfolioEditting')
      .addEventListener('input', function () {
        localStorage.inputField =
          document.getElementById('portfolioEditting').value;
         // Portfolio name edit button show up
         document.getElementById('portfolioEditButton').classList.add('portfolioEditActive')
         document.getElementById('portfolioEditButton').value = 'Save'
        });

    document
      .getElementById('portfolioEditting')
      .addEventListener('click', function () {
        localStorage.activeFocus = 'portfolioEditting';
      });
    document
      .getElementById('portfolioEditButton')
      .addEventListener('click', function () {
        console.log("hello")
        localStorage.activeFocus = 'portfolioEditting';
      });
    if (localStorage.activeFocus) {
      document.getElementById(localStorage.activeFocus).focus();
    }
</script>
