<%- include('../partials/header') %>
<div class="portfolioContent">
  <div class="portfolioSections">
    <div id="portfolioControl">
      <form
        class="portfolioEditContainer"
        action="/portfolios/<%= portfolio._id %>?_method=UPDATE"
        method="POST"
      >
        <input
          type="text"
          autocomplete="off"
          name="name"
          id="portfolioEditting"
          placeholder="<%= portfolio.name %>"
        />
        <input type="submit" class="portfolioEdit" value="Edit" />
      </form>
      <form
        class="portfolioEditContainer"
        action="/portfolios/<%= portfolio._id %>/delete"
      >
        <input type="submit" class="portfolioDelete" value="Del" />
      </form>
    </div>
    <table id="PLSection">
      <tr>
        <td class="positionTitle">Position Size:</td>
        <td>
          $<%=
          Intl.NumberFormat('en-US').format(Math.abs(totalHoldings+unrealizedPL).toFixed(2))%>
        </td>
      </tr>
      <tr>
        <td class="positionTitle">Holdings P/L:</td>
        <td
          class="
            PLPrices
            <%=(unrealizedPL>0)?'stockGreen':
            ''%>
            <%=(unrealizedPL<0)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US').format(unrealizedPL.toFixed(2))%>
        </td>
      </tr>
      <tr>
        <td class="positionTitle">Realized P/L:</td>
        <td
          class="
            PLPrices
            <%=(totalHoldings-realizedPL>0)?'stockGreen':
            ''%>
            <%=(totalHoldings-realizedPL<0)?'stockRed':
            ''%>
          "
        >
          $<%=
          Intl.NumberFormat('en-US').format((totalHoldings-realizedPL).toFixed(2))%>
        </td>
      </tr>
    </table>
    <br />
    <h3 class="portfolioSections">Holdings</h3>
  </div>
  <% if (prices[0]){%>
  <table class="holdingsList">
    <thead>
      <tr class="portfolioList portfolioListTitle">
        <th class="tickerLeft tickerTitle">Stock</th>
        <th>Share</th>
        <th>Price</th>
        <th>%Profit</th>
        <th>$Profit</th>
        <th>AvgCost</th>
      </tr>
    </thead>

    <tbody>
      <% prices[0].forEach(function(p) { %>
      <tr class="portfolioList">
        <td class="tickerLeft">
          <form class="tickerForm" action="/stocks/<%= p._id %>">
            <input type="submit" class="tickerButton" value="<%= p.symbol %>" />
          </form>
        </td>

        <td
          class="
            <%=(p.shares>0)?'stockGreen':
            ''%>
            <%=(p.shares<0)?'stockRed':
            ''%>
          "
        >
          <%= p.shares %>
        </td>
        <td>$<%=p.regularMarketPrice %></td>
        <td
          class="
            <%=(p.regularMarketChangePercent>0)?'stockGreen':
            ''%>
            <%=(p.regularMarketChangePercent<0)?'stockRed':
            ''%>
          "
        >
          <%= (((p.regularMarketPrice-p.avgPrice)/p.avgPrice)*100).toFixed(2)
          %>%
        </td>

        <td
          class="
            <%=(p.regularMarketPrice
            -
            p.avgPrice>0)?'stockGreen':
            ''%>
            <%=(p.regularMarketPrice
            -
            p.avgPrice<0)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US').format(((p.regularMarketPrice -
          p.avgPrice)*p.shares).toFixed(2)) %>
        </td>
        <td>$<%= p.avgPrice.toFixed(2) %></td>
      </tr>
      <% }); %>
    </tbody>
    <%} else{%>
    <h3>No Holdings</h3>
    <%}%>
  </table>
  <br />

  <div class="portfolioSections">
    <h3>Transactions</h3>
  </div>
  <% if (portfolio.transactions.length!==0){%>

  <table class="holdingsList">
    <thead>
      <tr class="portfolioList portfolioListTitle">
        <th class="tickerLeft tickerTitle">Stock</th>
        <th>Action</th>
        <th>Shares</th>
        <th>TransactPrice</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% portfolio.transactions.forEach(function(t) { %>
      <tr class="portfolioList transactionBorderBottom">
        <td class="tickerLeft tickerTitle tickerTransactionUnbold">
          <%= t.ticker %>
        </td>
        <% if(t.shares>0) { %>
        <td class="buySell stockGreen">Buy</td>
        <%} else {%>
        <td class="buySell stockRed">Sell</td>
        <%} %>
        <td><%= Math.abs(t.shares) %></td>

        <td>$<%= t.price %></td>
        <td><%= t.createdAt.toLocaleDateString() %></td>
      </tr>
      <% }); %>
    </tbody>

    <%} else{%>

    <h3>No Transactions</h3>

    <%}%>
  </table>
</div>

<%- include('../partials/footer') %>
