<%- include('../partials/header') %>

<div>
  <h1><%= portfolio.name %></h1>
  <td><a href="/portfolios/<%= portfolio._id %>/edit">Edit</a></td>
  <h3>Holdings</h3>

  <% if (prices[0]){%>
  <table id="list">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Shares</th>
        <th>StockPrice</th>
        <th>% Change</th>
        <th>P/L %</th>
        <th>Profit/Loss</th>
        <th>TradePrice</th>
      </tr>
    </thead>
    <tbody>
      <% prices[0].forEach(function(p) { %>
      <tr>
        <td><a href="/stocks/<%= p._id %>"><%= p.symbol %></a></td>

        <td><%= p.shares %></td>
        <td>$<%= p.regularMarketPrice %></td>
        <td><%= p.regularMarketChangePercent.toFixed(2) %>%</td>
        <td>
          <%=
          ((Math.abs(p.shares)/p.shares)*((p.regularMarketPrice-p.avgPrice)/p.avgPrice)*100).toFixed(2)%>%
        </td>
        <td>
          $<%= ((p.regularMarketPrice - p.avgPrice)*p.shares).toFixed(2) %>
        </td>
        <td>$<%= p.avgPrice.toFixed(2) %></td>
      </tr>
      <% }); %>
    </tbody>
    <%} else{%>

    <h3>No Holdings</h3>

    <%}%>
  </table>

  <h3>Transactions (NEED TO ADD NOTE BUTTON)</h3>
  <% if (portfolio.transactions){%>

  <table id="list">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Date</th>
        <th>Shares</th>
        <th>PurchasePrice</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <% portfolio.transactions.forEach(function(t) { %>
      <tr>
        <td><%= t.ticker %></td>
        <td><%= t.createdAt.toLocaleDateString() %></td>
        <td><%= t.shares %></td>
        <td>$<%= t.price %></td>
        <td>$<%= (t.shares*t.price).toFixed(2) %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <%} else{%>

  <h3>No Transactions</h3>

  <%}%>
</div>

<%- include('../partials/footer') %>
