<%- include('../partials/header') %>
<!-- Portfolio Name/Editting -->
<div class="portfolioContent">
  <div class="portfolioSections">
    <div id="portfolioControl">
      <form
        class="portfolioEditContainer"
        id="portfolioEdittingForm"
        method="POST"
      >
        <input
          type="text"
          name="name"
          id="portfolioEditting"
          value="<%= portfolio.name %>"
          maxlength="30"
          autocomplete="off"
          spellcheck="false"
          autocorrect="off"
        />

        <input
          type="submit"
          class="portfolioEdit"
          id="portfolioEditButton"
          value="Update"
        />
      </form>
      <form
        class="portfolioDeleteContainer"
        id="portfolioDeleteButton"
        action="/portfolios/<%= portfolio._id %>/delete"
      >
        <input
          type="submit"
          class="portfolioDelete"
          id="portfolioDeleteButtonText"
          value="X"
        />
      </form>
    </div>
    <table id="PLSection">
      <!-- Holdings P/L -->
      <tr>
        <td class="positionTitle">Holdings P/L:</td>
        <td
          class="
            PLPrices
            <%=(unrealizedPL>0.0001)?'stockGreen':
            ''%>
            <%=(unrealizedPL<-0.0001)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits: 2,}).format(unrealizedPL.toFixed(2))%>
        </td>
      </tr>
      <!-- Realized P/L -->
      <tr>
        <td class="positionTitle">Realized P/L:</td>
        <td
          class="
            PLPrices
            <%=(totalHoldings-realizedPL>0.0001)?'stockGreen':
            ''%>
            <%=(totalHoldings-realizedPL<-0.0001)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits:
          2,}).format((totalHoldings-realizedPL).toFixed(2))%>
        </td>
      </tr>
      <!-- Total P/L -->
      <tr>
        <td class="positionTitle">Total P/L:</td>
        <td
          class="
            PLPrices
            <%=((totalHoldings-realizedPL+unrealizedPL)>0.0001)?'stockGreen':
            ''%>
            <%=((totalHoldings-realizedPL+unrealizedPL)<-0.0001)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits:
          2,}).format((totalHoldings-realizedPL+unrealizedPL).toFixed(2))%>
        </td>
      </tr>
      <!-- Position Size -->
      <tr>
        <td class="positionTitle">Position Size:</td>
        <td>
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits:
          2,}).format(Math.abs(totalHoldings+unrealizedPL).toFixed(2))%>
        </td>
      </tr>
    </table>
    <br />
  </div>
  <% if (prices.length){%>
  <h3 class="portfolioSections">Holdings</h3>
  <table class="holdingsList">
    <thead>
      <tr class="portfolioList portfolioListTitle">
        <th class="tickerLeft tickerTitle">Ticker</th>
        <th>Share</th>
        <th>Price</th>
        <th>%P/L</th>
        <th>$P/L</th>
        <th>Avg Cost</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <% prices.forEach(function(p) { %>
      <!-- Holdings -->
      <tr class="portfolioList">
        <!-- Tickers -->
        <td class="tickerLeft">
          <form
            class="tickerForm"
            action="/stocks/<%= p._id %>/<%= portfolio._id%>"
          >
            <input type="submit" class="tickerButton" value="<%= p.symbol %>" />
          </form>
        </td>
        <!-- Shares -->
        <td
          class="
            <%=(p.shares>0)?'stockGreen':
            ''%>
            <%=(p.shares<0)?'stockRed':
            ''%>
          "
        >
          <%= p.shares %>
        </td>
        <!-- Price -->
        <% if (p.preRegAfterCombinedPrice){ %>
        <td><%= p.preRegAfterCombinedPrice.toFixed(2)%></td>
        <%} else {%>
        <td>0</td>
        <%} %>
        <!-- %P/L -->
        <% if (p.avgPrice && p.preRegAfterCombinedPrice-p.avgPrice){ %>
        <td
          class="
            <%=(p.regularMarketChangePercent>0.0001)?'stockGreen':
            ''%>
            <%=(p.regularMarketChangePercent<-0.0001)?'stockRed':
            ''%>
          "
        >
          <%=
          (((p.preRegAfterCombinedPrice-p.avgPrice)/p.avgPrice)*100).toFixed(2)%>%
        </td>
        <%} else {%>
        <td>0</td>
        <%} %>
        <!-- $P/L -->
        <% if (p.preRegAfterCombinedPrice - p.avgPrice){ %>
        <td
          class="
            <%=(p.preRegAfterCombinedPrice
            -
            p.avgPrice>0.0001)?'stockGreen':
            ''%>
            <%=(p.preRegAfterCombinedPrice
            -
            p.avgPrice<-0.0001)?'stockRed':
            ''%>
          "
        >
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits: 2,}).format(((p.preRegAfterCombinedPrice -
          p.avgPrice)*p.shares).toFixed(2))%>
        </td>
        <%} else {%>
        <td>0</td>
        <%} %>
        <!-- Average Price -->
        <td><%= p.avgPrice.toFixed(2) %></td>
        <!-- Position Size -->
        <% if (p.preRegAfterCombinedPrice*p.shares){ %>
        <td>
          $<%= Intl.NumberFormat('en-US',{ minimumFractionDigits: 2,
          maximumFractionDigits:
          2,}).format((p.preRegAfterCombinedPrice*p.shares).toFixed(2))%>
        </td>
        <%} else {%>
        <td>0</td>
        <%} %>
      </tr>
      <% }); %>
    </tbody>
    <%} else{%>
    <h3>No Holdings</h3>
    <%}%>
  </table>
  <br />
  <% if (portfolio.transactions.length!==0){%>
  <div class="portfolioSections">
    <h3>Transactions</h3>
  </div>
  <table class="holdingsList">
    <thead>
      <tr class="portfolioList portfolioListTitle">
        <th class="tickerLeft tickerTitle">Ticker</th>
        <th>Action</th>
        <th>Shares</th>
        <th>Transact Price</th>
        <th>Date & Time (Local)</th>
      </tr>
    </thead>
    <tbody>
      <% portfolio.transactions.forEach(function(t) { %>
      <tr class="portfolioList transactionBorderBottom">
        <!-- Ticker -->
        <td class="tickerLeft tickerTitle tickerTransactionUnbold">
          <%= t.ticker %>
        </td>
        <!-- Action(Buy/Sell) -->
        <% if(t.shares>0) { %>
        <td class="buySell stockGreen">Buy</td>
        <%} else {%>
        <td class="buySell stockRed">Sell</td>
        <%} %>
        <!-- Shares -->
        <td><%= Math.abs(t.shares) %></td>
        <!-- Transaction Price -->
        <td><%= t.price.toFixed(2) %></td>
        <!-- Date & Time of transaction -->
        <td>
          <%= t.createdAt.toLocaleDateString() %> <%=
          t.createdAt.toLocaleTimeString('en-GB') %>
        </td>
      </tr>
      <% }); %>
    </tbody>
    <%} else{%>
    <h3>No Transactions</h3>
    <%}%>
  </table>
</div>
<%- include('../partials/footer') %>
<!-- Refresh Script -->
<script>
  //Bonus upgraded refresh rate for premium users
    let refreshRate=60000;
  if (<%=user.premium%>){
    refreshRate = 10000
  }
    window.setTimeout(function () {
      window.location.reload();
    }, refreshRate);
    // Countdown before refresh
    let countDownNum;
    let membershipLevel;
    if(<%=req.user.premium%>){
      countDownNum = 10;
      membershipLevel = 'Premium'
    } else {
      countDownNum = 60;
      membershipLevel = 'Basic'
    }
        function countDown(){
          let countDownString = `${membershipLevel}(${countDownNum})`
          document.getElementById('countDownNum').innerHTML = countDownString
          countDownNum--;
          setTimeout(function(){
            countDown()
          },1000)
        }
        countDown()
    // Convert href with '?' to without
    let refWithoutQuestionMark = window.location.href;
    if (window.location.href[window.location.href.length-1]=='?'){
      refWithoutQuestionMark = refWithoutQuestionMark.slice(0,-1)
    }
    // Referred from elsewhere, purge all variables
    if (localStorage.referrer !== refWithoutQuestionMark ) {
      delete localStorage.inputField;
      delete localStorage.wasFocusedOn;
      delete localStorage.saveWasClicked
    }
    // Just came from save
    if(localStorage.wasFocusedOn){
    document.getElementById('portfolioEditting').focus();
    localStorage.saveWasClicked = false
    }
    // First click of edit, with refresh, the next round will focus on input
    document.getElementById('portfolioEditButton').addEventListener('click', function(){
      localStorage.wasFocusedOn = 'portfolioEditting'
    })

    if (localStorage.inputField && localStorage.inputField !== document.getElementById('portfolioEditting').value){
      document.getElementById('portfolioEditButton').classList.add('portfolioEditActive')
      document.getElementById('portfolioEditButton').addEventListener('click', function(){
        localStorage.saveWasClicked = true
      })
    }
    const tempInput = localStorage.inputField;
    if (tempInput && localStorage.referrer === refWithoutQuestionMark) {
      document.getElementById('portfolioEditting').value = tempInput;
    }
    // On input, save will present itself
    document
      .getElementById('portfolioEditting')
      .addEventListener('input', function () {
        localStorage.inputField =
        document.getElementById('portfolioEditting').value;
          document.getElementById('portfolioEditButton').classList.add('portfolioEditActive')
        });
    // Detect focus
    localStorage.wasFocused = true;
    checkFocused()
    function checkFocused(){
      setTimeout(function(){
    if ( document.activeElement === document.getElementById('portfolioEditting')){
      localStorage.wasFocusedOn = document.activeElement.id
      checkFocused()
    } else {
      localStorage.wasFocusedOn = document.activeElement.id
      checkFocused()
    }
    },100)
    }
</script>
